# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Mac
.DS_Store

# IntelliJ
.idea/
*.iml

# Maven build output
backend/target/

# Python
__pycache__/
*.pyc
.env
venv/

# Spring
backend/HELP.md
